.card{
    display: flex;
    /* border: 2px solid green; */
    height:  10rem;
    align-self: center;
    justify-self: center;
    margin: 0 3rem 0 3rem;
    width: 15rem;
    justify-content: center;
    border: 0.0625rem solid rgba(0,0,0,.05);
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07)!important;
    border-radius: 0.2rem;
    text-decoration: none;
}

.card_text{
    align-self: center;
    font-size: 1.3rem;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #32325d;
}